@import url('https://fonts.googleapis.com/css?family=Allura|josefin+Sans');

*{
   margin:0;
   padding:0;
   box-sizing:border-box;
}

body{
    background:#ff6347;
    font-family:'josefin Sans',sans-serif;
}

.wrapper{
     margin-top:20%; 
     overflow:scroll;  
}

.wrapper h1{
    font-family:'Allura',cursive;
    font-size:55px;
    margin-bottom:63px;
    text-align:center;
}

   .team{
       display:flex;
       text-align:center;
       width:auto;
       justify-content:center;
       overflow:scroll;
     }

   .team .team_member{
       background: #fff;
       margin:5px;
       margin-bottom:50px;
       width:300px;
       padding:20px;
       line-height: 20px;
       color:#8e8b8b;
       position:relative;
       }

    .team .team_member h3{
        color: #81c644;
        font-size:28px;
        margin-top:48px;
    }

    .team .team_member p.role{
       color:#0000ff;
        font-size:12px;
        text-transform:uppercase;
        margin: 12px 0;
    }

    .team .team_member .team_img{
        width:70px;
        height:70px;
        border-radius:50%;
        position:absolute;
        top: -50px;
    }

    .team .team_member .team_img{
        width:100px;
        height:100px;
    }
    